#mainContainer {
    overflow-x: hidden;

    #content {
        margin-left: 20rem;
    }
}


/**
 * Responsive
 */
 @media (max-width: 1199px) {
    #mainContainer {
        #content {
            margin-left: 15rem;
        }
    }
}

@media (max-width: 991px) {
    #mainContainer {
        #content {
            margin-left: 12rem;
        }
    }
}

@media (max-width: 767px) {
    #mainContainer {
        #content {
            margin-left: 0;
        }
    }
}

@media (max-width: 575px) { }
