#sidebar {
    width: 20rem;
    height: 100vh;
    background-color: $main-blue;
    font-size: 1rem;
    -webkit-box-shadow: 5px 0px 8px 0px rgba(148,148,148,1);
    -moz-box-shadow: 5px 0px 8px 0px rgba(148,148,148,1);
    box-shadow: 5px 0px 8px 0px rgba(148,148,148,1);
    left: 0;
    transition: .3s cubic-bezier(0.4, 0, 1, 1);

    * {
        color: white;
    }

    a {
       &:hover {
           text-decoration: none;
       }
    }

    #toggleNav {
        display: none;
        position: absolute;
        width: 3rem;
        height: 3rem;
        right: -3rem;
        background-color: $main-blue;
        border-radius: 0 .5rem .5rem 0;
        cursor: pointer;
    }

    #logotype {
        font-size: 2rem;
        font-weight: 600;
    }

    ul {
        list-style: none;
    }

    .sidebar-item {
        border-radius: .5rem;
        transition: .2s;

        &.active {
            background-color: #8a8afd;
            padding-left: .5rem;
        }

        &:not(.active) {
            &:hover {
                background-color: #7070f9;
                padding-left: 0.5rem;
            }
        }

        span {
            font-weight: 600;
        }
    }

    #balance {
        font-weight: 700;
    }

    #closeNav {
        display: none;
        cursor: pointer;

        &:hover {
            padding-right: 0.5rem;
        }
    }
}


/**
 * Responsive
 */
@media (max-width: 1199px) {
    #sidebar {
        width: 15rem;
    }
}

@media (max-width: 991px) {
    #sidebar {
        width: 12rem;
        font-size: .9rem;

        i:not(#logoIcon) {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    #sidebar {
        width: 100%;
        font-size: 1rem;

        &.hidden {
            left: -98%;
        }

        #toggleNav {
            display: flex;
        }

        i:not(#logoIcon), #closeNav {
            display: flex;
        }
    }
}

@media (max-width: 575px) { }
